{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}


<div class="collection-hero{% if section.settings.show_collection_image and collection.metafields.custom.page_banner_image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner page-width">
    {%- if collection.metafields.custom.page_banner_image != blank -%}
      <div class="collection-hero__banner">
        <div class="collection-hero__text-wrapper">
          <div class="collection-hero__text">
            {{ collection.description }}
          </div>
        </div>
        <img class="collection-hero__image" src="{{ collection.metafields.custom.page_banner_image.value | image_url: height: 600 }}" alt="Image">
        <div class="collection-hero__text-wrapper--mobile">
          <div class="collection-hero__text">
            {{ collection.description }}
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
  <div class="collection-hero__inner page-width {% if collection.metafields.custom.page_banner_image != blank %}collection__title-wrapper--custom{%else%}collection__title-wrapper{% endif %}">
    <h1 class="collection__title">{{ collection.title }}</h1>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}
